html {
  height: 100%;
  background: linear-gradient(#e66465, #8c93e4);
}
#body {
  background-color: transparent;
  font-size: 2em;
}
header {
  text-align: center;
  margin: 30px auto;
}
header h1 {
  font-size: 2.2em;
}
#table {
  margin: auto;
  text-align: center;
}
table {
  font-family: 'Open Sans', sans-serif;
  border-collapse: collapse;
  border: 3px solid #44475C;
  margin: 10px 10px 0 10px;
}
table tr {
  background-color: #ffffff;
}
table th {
  text-transform: uppercase;
  text-align: left;
  background: #44475C;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 8px;
  min-width: 30px;
}
table th:hover {
        background: #717699;
      }
table td {
  text-align: left;
  padding: 4px;
  border-right: 2px solid #7D82A8;
}
table td:last-child {
  border-right: none;
}
table tbody tr:nth-child(2n) td {
  background: #D4D8F9;
}

.container {
  text-align: center;
}